#Built with Python 3.10.1
#pip install -r requirements.txt
customtkinter==5.2.2
matplotlib==3.5.0
numpy==1.23.0
pandas==1.5.3
pandas-datareader==0.10.0
pillow==10.4.0
plotly==5.23.0
requests==2.32.3
scipy==1.8.0
yfinance==0.2.41
pylint==3.3.3
