astroid==3.2.4
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
customtkinter==5.2.2
darkdetect==0.8.0
dill==0.3.8
frozendict==2.4.4
html5lib==1.1
idna==3.7
isort==5.13.2
lxml==5.3.0
mccabe==0.7.0
multitasking==0.0.11
numpy==1.22.4
packaging==24.1
pandas==1.5.3
peewee==3.17.6
pillow==10.4.0
platformdirs==4.2.2
plotly==5.23.0
pylint==3.2.6
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
scipy==1.8.0
six==1.16.0
soupsieve==2.6
tenacity==9.0.0
tomli==2.0.1
tomlkit==0.13.2
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
webencodings==0.5.1
yfinance==0.2.41
